
  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Cutive+Mono&display=swap');

.text{  
  margin-top: 100px;
  background-color: white;
  position:relative;
  z-index: 2;
  height: 135px;
  min-width: 1000px;
  max-width: 1500px;
  margin-bottom: 60px;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.box{
  background-color: white;
  position:relative;
  z-index: 1;
  height: 600px;
  min-width: 1000px;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 40px;
}

p{
  color: black;
  font-family: 'Bacasime Antique', Arial;
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: ;
  line-height: 25px;
  text-align: justify;
}